*
{
    margin: 0;
    padding: 0;
    font-family: Roboto Mono;
}

body
{
     background-color: #14182A;
    
}
.text
{
    font-size: 45px;
    width: 85%;
    margin: auto   ;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
  
}
.text a{
    text-decoration: none;
    color: #3AC8E7;
}
.box
{
    text-align: center;
    width: 85%;
    margin: auto;
    margin-top: 20px;
}
.box img 
{
    width: 750px;
   
}
.header
{
    width: 100%;
    background-color: #1B2039;
    height: 84px;
}
.left
{

    float: left;
    margin-top: 14px;
    color: whitesmoke;
    margin-left: 180px;
}
.right
{
    float: right;
    margin-top: 28px;
    color: whitesmoke;
    margin-right: 150px;
}
.right h1
{
    font-size: 25px;
}
.audio
{
     text-align: center;
     margin-top: 30px;
}
audio
{
    background-color: #2C2D3A;
    width: 500px;
}
.text-pro
{
    text-align: center;
    margin-top: 20px;
    color: wheat;
}